*.aux
*.log
*.fls
*.vrb
*.synctex.gz
*.fdb_latexmk
aulas/geometria-aula05.nav
aulas/geometria-aula05.out
aulas/geometria-aula05.snm
aulas/geometria-aula05.toc
aulas/geometria-aula05.vrb
aulas/geometria-aula06.nav
aulas/geometria-aula06.out
aulas/geometria-aula06.snm
aulas/geometria-aula06.toc
aulas/geometria-aula06.vrb
template.out
template.out
